.my {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.social-container {
  padding: 20px 5px;
  text-align: center;
}
a.social {
  margin: 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 2px;
}

:hover {
  color: grey;
  transition: 200ms ease-in;
}
